@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        ASP.NET MVC - 資料分頁操作範例程式，使用 PagedList.Mvc
    </p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>範例一</h2>
        <p>
            部落格文章「<a href="http://kevintsengtw.blogspot.tw/2013/10/aspnet-mvc-pagedlistmvc.html" target="_blank">ASP.NET MVC 資料分頁 - 使用 PagedList.Mvc</a>」
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Sample1", "Customer")">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>範例二</h2>
        <p>
            部落格文章「<a href="http://kevintsengtw.blogspot.tw/2013/10/aspnet-mvc-pagedlistmvc_17.html" target="_blank">ASP.NET MVC 資料分頁 - 使用 PagedList.Mvc：分頁列樣式</a>」
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Sample2", "Customer")">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>範例三</h2>
        <p>
            部落格文章「<a href="http://kevintsengtw.blogspot.tw/2013/10/aspnet-mvc-pagedlistmvc_18.html" target="_blank">ASP.NET MVC 資料分頁 - 使用 PagedList.Mvc：自訂分頁資訊顯示</a>」
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Sample3", "Customer")">Learn more &raquo;</a>
        </p>
    </div>
</div>  
<div class="row">
    <div class="col-md-4">
        <h2>範例四</h2>
        <p>
            部落格文章「<a href="http://kevintsengtw.blogspot.tw/2013/11/aspnet-mvc-pagedlistmvcajax.html" target="_blank">ASP.NET MVC 資料分頁 - 使用 PagedList.Mvc：AJAX</a>」
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Order")">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>範例五</h2>
        <p>
            部落格文章「<a href="http://kevintsengtw.blogspot.tw/2013/11/aspnet-mvc-pagedlistmvctable-checkbox.html" target="_blank">ASP.NET MVC 資料分頁 - 使用 PagedList.Mvc：Table 的 Checkbox</a>」
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Sample2", "Order")">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>範例六</h2>
        <p>
            部落格文章「<a href="http://kevintsengtw.blogspot.tw/2014/10/aspnet-mvc-formmethodpost.html" target="_blank">練習題 - ASP.NET MVC 資料列表顯示 + 分頁 + 查詢 + FormMethod.Post</a>」
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Product")">Learn more &raquo;</a>
        </p>
    </div>
</div>